@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav barin tyyli */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a0a;
    height: 123px;
    padding: 0 69px;
    color: #ffffff;
    border-bottom: #07a04a solid 1px;
}

.logo {
    width: 296px;
    height: 57px;
}

.nav-links {
    margin-top: 12px;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav-links li {
    margin-right: 30px; /* Linkkien väli */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0;
    position: relative;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative; /* Lisätty tähän */
}

.icon {
    margin-left: 5px;
    transition: transform 0.3s;
}

/* Lisätty kääntyvä ikoni */
.has-dropdown:hover .icon {
    transform: rotate(180deg);
}

/* Tyyli alamenuille */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a0a0a;
    opacity: 0.9;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    min-width: 100%;
    z-index: 1;
    border-top: 2px solid #07a04a;
    white-space: nowrap;
    overflow: hidden;
}

.submenu ul li a {
    border-bottom: 1px solid #DF2835; 
    padding-bottom: 5px; 
}


.submenu ul li a {
    display: inline-block; 
    text-align: center; /* Lisätty vaakasuuntainen keskittäminen VAIVALLA.. */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


.submenu ul li a.submenu-link {
    text-align: center;
}


.has-dropdown ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-left: 0;

}

.has-dropdown li {
    margin: 0;
    padding: 5px 5px; 
    text-align: center;
    font-size: 15px;
}

.has-dropdown:hover .submenu {
    display: block;
}

.buttons {
    display: flex;
    align-items: center;
}

.join-button {
    text-decoration: none;
    background-color: #df2835;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    margin-right: 20px;
    transition: background-color 0.3s ease;
    
}

.login-button {
    text-decoration: none;
    background-color: #068d40;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Montserrat-Medium", sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}


.login-button:hover {
    background-color: #d11622;
}

.join-button:hover {
    background-color: #068d40;
}


/* Profiili stylet*/
.user-profile {
    background-color: #0a0a0a;
    height: 300px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    border-bottom: #068d40 solid 1rem;
    position: relative; 
}

.info-box1,
.info-box3,
.info-box2,
.info-box4 {
    font-size: 30px;
    color: white;
    background-color: #000000;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: auto;
    height: 50px;
}

.info-box1 {
    grid-column: 1;
    grid-row: 1;
}

.info-box3 {
    grid-column: 2;
    grid-row: 1;
}

.info-box2 {
    grid-column: 1;
    grid-row: 2;
}

.info-box4 {
    grid-column: 2;
    grid-row: 2;
    color: yellow;
}

.edit-profile-link {
    text-decoration: none; 
    color: yellow; 
    font-weight: bold; 
    position: absolute; 
    bottom: 0; 
    right: calc(0px + 1.7cm); 
    padding: 30px; 
}

.membership-details {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
}


.add-button {
    background-color:#07a04a ;
    color: white;
    padding: 15px 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add-button:hover {
    background-color:#068d40;
}

.white-section {
    height: 100vh;
    background: linear-gradient(to bottom, #202A46, #2C3C57, #334762);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 80%; 
}

.title {
    color: white;
    text-align: center;
    border-bottom: 2px solid green;
    margin-bottom: 10px;
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservations-box {
    background-color: black;
    width: 90%;
    height: auto;
    max-height: 90vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: #fff;
    padding: 2rem;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="datetime-local"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.booked-box{
    background-color: black;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    height: 84vh;
    overflow-y: auto;
}

.class-card {
    display: flex;
    max-width: 100%;
    width: 500px;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    height: 20vh;
    margin-bottom: 20px;
    padding: 20px;
    align-items: center;
    position: relative; 
}
.class-actions {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.info-section {
    display: none;
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    padding: 5px;
    text-align: center;
    z-index: 1; 
}

.book-msg {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%); /*  siirtymä alapuoelle */
    padding: 5px;
    text-align: center;
    z-index: 1; 
}

.book-msg.green {
    background-color: green;
    color: white;
}

.book-msg.red {
    background-color: red;
    color: white;
}

.info-btn, .book-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 5rem; /* Siirretään napit oikealle */
}

.info-btn {
    background-color: yellow;
    cursor: pointer;
}

.book-btn {
    background-color: red;
    color: white;
    cursor: pointer;
    margin-bottom: 0; /* Poistetaan väli alimmalta napilta, jotta se ei työnnä muita elementtejä pois */
}






/* Footer tyylit */

.footer {
    position: relative;
    height: 369px;
    background-color: #fff;
    padding: 0 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 369px;
    height: 76px;
}

.footer-section {
    flex: 1;
    padding: 70px;
}

.footer-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footer-section p {
    font-size: 14px;
    margin-top: 10px;
    color: #000;
}

.footer-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-button,
.join-button {
    width: 150px;
    height: 40px;
    font-size: 14px;
    margin-top: 10px;
}

.footer-line {
    position: absolute;
    bottom: 30px; 
    left: 0;
    width: 100%;
    height: 1px; 
    background-color: #07a04a; 
    
}
    .footer-text {
        position: absolute; 
        left: 65px; 
        bottom: 0; 
        color: #0a0a0a; 
    }
    
    /* Ikonit ja teksti "Seuraa meitä" */
    .footer-icons {
        position: absolute;
        right: 65px; 
        bottom: 0;
        display: flex;
        align-items: center; 
    }
    
    .footer-icons p {
        color: #0a0a0a;
        margin-right: 5px; 
    }
    
    .footer-icons img {
        width: 24px; 
        margin-right: 10px; 
    }

